beautifulsoup4==4.7.1
certifi==2018.11.29
chardet==3.0.4
Click==7.0
et-xmlfile==1.0.1
Flask==1.0.2
Flask-SSLify==0.1.5
gunicorn==19.9.0
idna==2.8
itsdangerous==1.1.0
jdcal==1.4
Jinja2==2.10.1
lxml==4.3.0
MarkupSafe==1.1.0
openpyxl==2.6.2
psycopg2==2.8.2
requests==2.21.0
selenium==3.141.0
six==1.12.0
soupsieve==1.7.3
transliterate==1.10.2
urllib3==1.25
virtualenv==16.3.0
Werkzeug==0.14.1
xlrd==1.2.0
xlwt==1.3.0
